{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Thank you for participating
{% endblock %}

{% block content %}
    <div class="instructions" style="height: 187px;">
        <ul>
        <li>
            Your total payoff based on your decisions equals <b>{{ participant.payoff|floatformat:2 }}</b> points which is worth <b>{{ eur|floatformat:2 }}</b> EUR.
        </li>
        <li>
            Within three weeks of this study, you will receive a survey to fill in your personal code and bank information so we can wire you this amount via banktransfer.
        </li>
        <li>
            <b>IMPORTANT</b>: please take the form with your personal code home with you.
        </li>
        <li>
            Also, please do not to discuss this study with other (potential) participants until Saturday 05-05-2018.
        </li>
        <li>
            Please leave your cubicle, and report in the other room.
        </li>
        </ul>
    </div>
{% endblock %}

