{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    A few questions about your financial experience (Page 6/8)
{% endblock %}

{% block content %}

    <div class="instructions" style="text-align:center">
    <b>
        This section presents you some questions about your experience in the financial markets.<br>
        Please answer the questions truthfully and select the answers that best apply to you.
    </b>
    </div>

{% for field in form %}
{{field.label}}
<p></p>
{{ field }}
<p></p>
{% endfor %}
<p></p>
{% next_button %}

{% endblock %}