{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    A few questions about financial implications
{% endblock %}

{% block content %}

    <div class="instructions" style="text-align:center">
        <b>
<!--        In this last part of the study, we will ask you a few questions about financial implications.<br>-->
        Please answer the following questions to the best of your ability.<br>
        If you do not know the answer to a question, please select "I don't know."
        </b>
    </div>

{% formfields %}

{% next_button %}

{% endblock %}