{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Some questions about Telecom Co. (Page 7/12)
{% endblock %}

{% block content %}
<div align="center">
<hr>
    <p>
        How does the financial information you consulted on the previous screen influence your willingness to invest in Telecom Co.?<br>
        Answer scale varies from -100% (strongly decreases my willingness to invest) to 100% (strongly increases my willingness to invest).
    </p>

    <b id="demo1">0%</b>
    {% formfield player.i_judge_1 label=None %}

    <input type="hidden" name="check_i_judge_1" value="" id="check_i_judge_1"/>
<hr>
    <p>
        How does the financial information you consulted on the previous screen influence your valuation of Telecom Co.?<br>
        Answer scale varies from -100% (strongly decreases my valuation) to 100% (strongly increases my valuation).
    </p>

    <b id="demo2">0%</b>
    {% formfield player.i_judge_2 label=None %}

    <input type="hidden" name="check_i_judge_2" value="" id="check_i_judge_2"/>
<hr>
    <p>
        How does the financial information you consulted on the previous screen influence your pricing of Telecom Co.’s stock?<br>
        Answer scale varies from -100% (strongly decreases my pricing) to 100% (strongly increases my pricing).
    </p>

    <b id="demo3">0%</b>
    {% formfield player.i_judge_3 label=None %}

    <input type="hidden" name="check_i_judge_3" value="" id="check_i_judge_3"/>
<hr>

</div>
{% next_button %}

{% endblock %}

 {% block scripts %}

    <script>
        $('input[name=i_judge_1]').on('input', function() {
            document.getElementById("demo1").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_i_judge_1').val(1);
        });
    </script>

    <script>
        $('input[name=i_judge_2]').on('input', function() {
            document.getElementById("demo2").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_i_judge_2').val(1);
        });
    </script>

    <script>
        $('input[name=i_judge_3]').on('input', function() {
            document.getElementById("demo3").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_i_judge_3').val(1);
        });
    </script>

{% endblock %}