{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Some questions about Alophonica (Page 5/9)
{% endblock %}

{% block content %}
<div align="center">
<hr>
    <p>
        How does the financial information you consulted on the previous screen change your willingness to invest in
        Alophonica compared to your willingness to invest in Alophonica before consulting the financial information on
        the previous screen?<br>
        Answer scale varies from -100% (strongly decreases my willingness to invest) to 100% (strongly increases my willingness to invest).
    </p>

    <b id="demo1">0%</b>
    {% formfield player.i_judge_1 label=None %}

    <input type="hidden" name="check_i_judge_1" value="" id="check_i_judge_1"/>
<hr>
    <p>
        How does the financial information you consulted on the previous screen change your valuation of Alophonica's
        stock compared to your valuation of Alophonica's stock before consulting the financial information on the previous
        screen? Answer scale varies from -100% (strongly decreasing my valuation) to 100% (strongly increases my valuation).
    </p>

    <b id="demo2">0%</b>
    {% formfield player.i_judge_2 label=None %}

    <input type="hidden" name="check_i_judge_2" value="" id="check_i_judge_2"/>
<hr>
    <p>
        Suppose you have invested $10,000 in a mutual fund that tracks the value of the Dow Jones.<br> How does the information you consulted on the previous screen impact your investment in this fund?
    </p>
    <b id="demo4">0</b>
    {% formfield player.i_market label=None %}
    <input type="hidden" name="check_i_market" value="" id="check_i_market"/>
<hr>
</div>
{% next_button %}

{% endblock %}

 {% block scripts %}

    <script>
        $('input[name=i_judge_1]').on('input', function() {
            document.getElementById("demo1").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_i_judge_1').val(1);
        });
    </script>

    <script>
        $('input[name=i_judge_2]').on('input', function() {
            document.getElementById("demo2").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_i_judge_2').val(1);
        });
    </script>

    <script>
        $('input[name=i_market]').on('input', function() {
            x = 10000 + $(this).val()/100 * 10000;
            document.getElementById("demo4").innerHTML = $(this).val()+'<span>%</span>'+'<span> ($</span>'+x+'<span>)</span>';
            $('#check_i_market').val(1);
        });
    </script>
{% endblock %}