{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Are the Firms Paying their Fair Share? (Page 3/8)
{% endblock %}

{% block content %}

<div class = "instructions">
    <p>On this page, you are asked to assess to what extent {% if player.treat_AB == "A" %}<b>Alophonica</b>{% else %}<b>Bellico</b>{% endif %}
        and <b>C-Mobile</b> are paying their fair share. You can base your decision on the information provided below. As aforementioned, the
    firms can lower their tax rates by investment tax credits and profit shifting.</p>
</div>

{% if player.treat_AB == "A" %}

    {% if player.treat_public == "australia" %}

        <div class="instructions">
            <p>The tax authorities publish the following information about <b>Alophonica's</b> and <b>C-Mobile's</b> activities:</p>
            <table border="1" align="center">
            <thead>
                <tr>
                    <td align="center" colspan="2"><h6><b>Alophonica</b></h6></td>
                    <td align="center" colspan="2"><h6><b>C-Mobile</b></h6></td>
                </tr>
            </thead>
                <tr>
                    <td><b>Revenues:</b></td>
                    <td>$14,144</td>
                    <td><b>Revenues:</b></td>
                    <td>$14,200</td>
                </tr>
                <tr>
                    <td><b>Profit Before Taxes:</b></td>
                    <td>$3,960</td>
                    <td><b>Profit Before Taxes:</b></td>
                    <td>$3,976</td>
                </tr>
                <tr>
                    <td><b>Corporate Taxes Paid:</b></td>
                    <td>$426</td>
                    <td><b>Corporate Taxes Paid:</b></td>
                    <td>$741</td>
                </tr>
            </table><br clear="all">
        </div>

    {% endif %}

        <div class="instructions">
            <p>Holding the button reveals excerpts of <b>Alophonica's</b> and <b>C-Mobile's</b> financial reports,<br> which report financial indicators on an <b>aggregated</b> basis, meaning that they are disclosed for Olmeos and Hingland collectively.</p>

            <!-- NORMAL DISCLOSURE -->
            <div align="center">
                <div class="container">
                <button id="image_button" style="color: rgb(255,255,255); background-color: rgb(0,123,255);" type="button" class="btn btn-outline-secondary">Hold to view financial report excerpts</button>
                <p>   </p>
                    <div align="center">
                        <img id="matrix" style="display:none;" align="center" width="72.5%" src="{% static "publictax/AC_AGG.jpg" %}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="instructions">
            <!-- RATE RECONCILIATION -->
            <p>Holding this button reveals a tax rate reconciliation of <b>Alophonica</b> and <b>C-Mobile</b>. When reconciling an account, firms prove that every transaction sums to the correct ending account balance.</p>
            <div align="center">
                <div class="container">
                <button id="reconciliation_button" style="color: rgb(255,255,255); background-color: rgb(26,148,49);" type="button" class="btn btn-outline-secondary">Hold to view tax rate reconciliation</button>
                <p>   </p>
                    <div align="center">
                        <img id="matrix" style="display:none;" align="center" width="72.5%" src="{% static "publictax/AC_RATE.jpg" %}"/>
                    </div>
                </div>
            </div>
        </div>

{% else %} <!-- IF PLAYER.TREAT_AB = B (BELLICO) -->

    {% if player.treat_public == "australia" %}

        <div class="instructions">
            <p>The tax authorities publish the following information about <b>Bellico's</b> and <b>C-Mobile's</b> activities:</p>
            <table border="1" align="center">
            <thead>
                <tr>
                    <td align="center" colspan="2"><h6><b>Bellico</b></h6></td>
                    <td align="center" colspan="2"><h6><b>C-Mobile</b></h6></td>
                </tr>
            </thead>
                <tr>
                    <td><b>Revenues:</b></td>
                    <td>$14,144</td>
                    <td><b>Revenues:</b></td>
                    <td>$14,200</td>
                </tr>
                <tr>
                    <td><b>Profit Before Taxes:</b></td>
                    <td>$3,960</td>
                    <td><b>Profit Before Taxes:</b></td>
                    <td>$3,976</td>
                </tr>
                <tr>
                    <td><b>Corporate Taxes Paid:</b></td>
                    <td>$426</td>
                    <td><b>Corporate Taxes Paid:</b></td>
                    <td>$741</td>
                </tr>
            </table><br clear="all">
        </div>

    {% endif %}

        <div class="instructions">
            <p>Holding the button reveals excerpts of <b>Bellico's</b> and <b>C-Mobile's</b> financial reports,<br> which report financial indicators on an <b>aggregated</b> basis, meaning that they are disclosed for Olmeos and Hingland collectively.</p>

            <div align="center">
                <!-- NORMAL DISCLOSURE -->
                <div class="container">
                <button id="image_button" style="color: rgb(255,255,255); background-color: rgb(0,123,255);" type="button" class="btn btn-outline-secondary">Hold to view financial report excerpts</button>
                <p>   </p>
                    <div align="center">
                        <img id="matrix" style="display:none;" align="center" width="72.5%" src="{% static "publictax/BC_AGG.jpg" %}"/>
                    </div>
                </div>
            </div>

        </div>
        <div class="instructions"
            <!-- RATE RECONCILIATION -->
            <p>Holding this button reveals a tax rate reconciliation of <b>Bellico</b> and <b>C-Mobile</b>. When reconciling an account, firms prove that every transaction sums to the correct ending account balance.</p>

            <div align="center">
                <div class="container">
                <button id="reconciliation_button" style="color: rgb(255,255,255); background-color: rgb(26,148,49);" type="button" class="btn btn-outline-secondary">Hold to view tax rate reconciliation</button>
                <p>   </p>
                    <div align="center">
                        <img id="matrixr" style="display:none;" align="center" width="72.5%" src="{% static "publictax/BC_RATE.jpg" %}"/>
                    </div>
                </div>
            </div>
        </div>

{% endif %}

<input type="hidden" name="timer_id" value="" id="timer_id"/>
<input type="hidden" name="timer_idr" value="" id="timer_idr"/>
<input type="hidden" name="check_alotax" value="" id="check_alotax"/>
<input type="hidden" name="check_beltax" value="" id="check_beltax"/>
<input type="hidden" name="check_cmotax" value="" id="check_cmotax"/>

<div class="instructions">
    <p>Please assess whether both firms are paying their fair share. Please rate from completely unfair (<b>0%</b>) to completely fair (<b>100%</b>).</p>

    {% if player.treat_AB == "A" %}
    <div align="center">
    <b>Alophonica</b>: <b id="demo1">50%</b>
    {% formfield player.alotax label=None %}
    </div>
    {% else %}
    <div align="center">
    <b>Bellico</b>: <b id="demo2">50%</b>
    {% formfield player.beltax label=None %}
    </div>
    {% endif %}

    <div align="center">
    <b>C-Mobile</b>: <b id="demo3">50%</b>
    {% formfield player.cmotax label=None %}
    </div>

</div>
<br>
{% next_button %}

{% endblock %}

{% block scripts %}

    <script>
        var timeShown = 0;
            var timeDown;

            function show() {
               document.getElementById('matrix').style="display:inline;";
               timeDown = new Date().getTime();
            }

            function hide() {
               document.getElementById('matrix').style="display:none;";
               if (timeDown) {
                   timeShown += (new Date().getTime() - timeDown);
                   document.getElementById('timer_id').value = String(timeShown);
               }
               timeDown = null;
            }

           document.getElementById('image_button').addEventListener('mousedown', show);
           document.getElementById('image_button').addEventListener('mouseup', hide);
           document.getElementById('image_button').addEventListener('mouseleave', hide);

    </script>

    <script>

        var timeShownr = 0;
            var timeDownr;

            function showr() {
               document.getElementById('matrixr').style="display:inline;";
               timeDownr = new Date().getTime();
            }

            function hider() {
               document.getElementById('matrixr').style="display:none;";
               if (timeDownr) {
                   timeShownr += (new Date().getTime() - timeDownr);
                   document.getElementById('timer_idr').value = String(timeShownr);
               }
               timeDown = null;
            }

           document.getElementById('reconciliation_button').addEventListener('mousedown', showr);
           document.getElementById('reconciliation_button').addEventListener('mouseup', hider);
           document.getElementById('reconciliation_button').addEventListener('mouseleave', hider);
    </script>

    <script>
        $('input[name=alotax]').on('input', function() {
            document.getElementById("demo1").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_alotax').val(1);
        });
    </script>

    <script>
        $('input[name=beltax]').on('input', function() {
            document.getElementById("demo2").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_beltax').val(1);
        });
    </script>

    <script>
        $('input[name=cmotax]').on('input', function() {
            document.getElementById("demo3").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_cmotax').val(1);
        });
    </script>

{% endblock %}