{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Alophonica and Bellico (Page 3/8)
{% endblock %}

{% block content %}

{% if player.treat == "control" %}
<br/>
{% elif player.treat == "australia" %}
<div class="instructions">
    <p>The tax authorities also publish the following information about <b>Alophonica</b> and <b>Bellico</b> (in thousand USD):</p>
    <table border="1" align="left">
    <thead>
        <tr>
            <td align="center" colspan="2"><h6><b>Alophonica</b></h6></td>
            <td align="center" colspan="2"><h6><b>Bellico</b></h6></td>
        </tr>
    </thead>
        <tr>
            <td><b>Revenues:</b></td>
            <td>$12,000</td>
            <td><b>Revenues:</b></td>
            <td>$10,200</td>
        </tr>
        <tr>
            <td><b>Profit Before Taxes:</b></td>
            <td>$2,619</td>
            <td><b>Profit Before Taxes:</b></td>
            <td>$2,653</td>
        </tr>
        <tr>
            <td><b>Corporate Taxes Paid:</b></td>
            <td>$267</td>
            <td><b>Corporate Taxes Paid:</b></td>
            <td>$270</td>
        </tr>
    </table><br clear="all">
</div>

{% else %}
<div class="instructions">
    <p>The tax authorities also publish the following information about <b>Alophonica</b> and <b>Bellico</b> (in thousand (USD):</p>
<ul>
    <li>
        <b>Alophonica</b> has been audited by the tax authorities in the previous years. The tax authorities have not found any evidence that <b>Alophonica</b> is engaged in tax malpractices.
    </li>
    <li>
        <b>Bellico</b> has been audited by the tax authorities in the previous years. The company engages in ongoing discussions with tax authorities regarding the resolution of tax matters in the various jurisdictions. Both the outcome of these tax matters and the timing of resolution and/or closure of the tax audits are highly uncertain.
    </li>
</ul>
    <table border="1" align="center">
    <thead>
        <tr>
            <td align="center" colspan="2"><h6><b>Alophonica</b></h6></td>
            <td align="center" colspan="2"><h6><b>Bellico</b></h6></td>
        </tr>
    </thead>
        <tr>
            <td><b>Revenues:</b></td>
            <td>$12,000</td>
            <td><b>Revenues:</b></td>
            <td>$10,200</td>
        </tr>
        <tr>
            <td><b>Profit Before Taxes:</b></td>
            <td>$2,619</td>
            <td><b>Profit Before Taxes:</b></td>
            <td>$2,653</td>
        </tr>
        <tr>
            <td><b>Corporate Taxes Paid:</b></td>
            <td>$267</td>
            <td><b>Corporate Taxes Paid:</b></td>
            <td>$270</td>
        </tr>
    </table><br clear="all">
</div>

{% endif %}

<!-- Financial Statements US GAAP / IFRS-->
<div class="instructions">
    <p>Below you can access an excerpt of the financial statements of <b>Alophonica</b> and <b>Bellico</b> by holding the button.</p>
    <div class="container">
    <button id="image_button" style="color: rgb(255,255,255); background-color: rgb(0,123,255);" type="button" class="btn btn-outline-secondary">Hold to view financial information</button>
    <p>   </p>
    <div align="center">
        <img id="matrix" style="display:none;" align="center" width="70%" src="{% static 'publictax/alohigher.jpg' %}"/>
    </div>
    </div>
</div>

<div class="instructions">
    <p>Please assess whether both firms are paying their fair share. Please rate from completely unfair (<b>-100%</b>) to completely fair (<b>100%</b>).</p>

    <b>Alophonica</b>: <b id="demo1">0%</b>
    {% formfield player.alotax label=None %}

    <b>Bellico</b>: <b id="demo2">0%</b>
    {% formfield player.beltax label=None %}

</div>

<input type="hidden" name="timer_id" value="" id="timer_id"/>
<input type="hidden" name="check_alotax" value="" id="check_alotax"/>
<input type="hidden" name="check_beltax" value="" id="check_beltax"/>

<br>
{% next_button %}

{% endblock %}

 {% block scripts %}

<script>
    var timeShown = 0;
        var timeDown;

        function show() {
           document.getElementById('matrix').style="display:inline;";
           timeDown = new Date().getTime();
        }

        function hide() {
           document.getElementById('matrix').style="display:none;";
           if (timeDown) {
               timeShown += (new Date().getTime() - timeDown);
               document.getElementById('timer_id').value = String(timeShown);
           }
           timeDown = null;
        }

       document.getElementById('image_button').addEventListener('mousedown', show);
       document.getElementById('image_button').addEventListener('mouseup', hide);
       document.getElementById('image_button').addEventListener('mouseleave', hide);
</script>

    <script>
        $('input[name=alotax]').on('input', function() {
            document.getElementById("demo1").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_alotax').val(1);
        });
    </script>

    <script>
        $('input[name=beltax]').on('input', function() {
            document.getElementById("demo2").innerHTML = $(this).val()+'<b>%</b>';
            $('#check_beltax').val(1);
        });
    </script>

{% endblock %}