{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (Page 1/8)
{% endblock %}

{% block content %}

<div align="center">
    <img width="75%" src="{% static "publictax/image1.jpg" %}"/>
</div>

<div class="instructions">
    <li>
        Your task is to evaluate whether two listed firms, (<b>Alophonica</b> and <b>Bellico</b>), are paying their fair share of taxes.
    </li>
    <li>
        The country in which both firms are headquartered, <b>Olmeos</b>, has a statutory tax rate of <b>24%</b>. However, the tax that firms effectively pay in Olmeos may be different.
    </li>
    <li>
        There are two ways that firms can use to lower their <b>effective tax rates</b>:
    </li>
        <ul>
            <li>
                Firms may use business tax credits offered by the government of <b>Olmeos</b>.
            </li>
<!--            <li>-->
<!--                They may offset their taxes using losses in prior years.-->
<!--            </li>-->
            <li>
                Firms may shift their profits to countries with lower statutory tax rates.
            </li>
        </ul>
</div>
    <p>
        <b>Please evaluate the following statements.</b>
    </p>
    <p>
        My task is to evaluate the ethicality of tax practices by firms in <b>Olmeos</b>.
        {% formfield player.Instr1a label=None %}
    </p>
    <p>
        All firms in <b>Olmeos</b> effectively pay a tax rate of <b>24%</b>.
        {% formfield player.Instr1b label=None %}
    </p>

<br>
{% next_button %}

{% endblock %}