{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Alophonica and Bellico
{% endblock %}

{% block content %}

{% if player.treat == "control" %}
<div class="instructions" style="height: 250px;">

    <p>Below you can find an excerpt of the financial statements of Alophonica and Bellico.</p>

    <p>Please rate the ethicality of Alophonica and Bellico tax practices from competely unethical (0%) to completely ethical (100%).</p>

    <b>Alophonica: </b><b style="color: rgb(0,123,255);" id="demo1">0%</b>
    {% formfield player.alotax label=None %}

    <b>Bellico: </b><b style="color: rgb(0,123,255);" id="demo2">0%</b>
    {% formfield player.beltax label=None %}

</div>


{% else %}
<div class="instructions" style="height: 425px;">
    <p>Below you can find an excerpt of the financial statements of Alophonica and Bellico.</p>
    <p>The tax authorities also publish the following information about Alophonica and Bellico:</p>
    <table border="1" align="left">
    <thead>
        <tr>
            <td align="center" colspan="2"><h6><b>Alophonica</b></h6></td>
            <td align="center" colspan="2"><h6><b>Bellico</b></h6></td>
        </tr>
    </thead>
        <tr>
            <td><b>Total Income:</b></td>
            <td>$85,589,000</td>
            <td><b>Total Income:</b></td>
            <td>$85,589,000</td>
        </tr>
        <tr>
            <td><b>Taxable Income:</b></td>
            <td>$25,374,000</td>
            <td><b>Taxable Income:</b></td>
            <td>$25,374,000</td>
        </tr>
        <tr>
            <td><b>Taxes Paid:</b></td>
            <td>$4,047,000</td>
            <td><b>Taxes Paid:</b></td>
            <td>$4,047,000</td>
        </tr>
    </table><br clear="all">
    <br>
    <p>Please rate the ethicality of Alophonica and Bellico tax practices from competely unethical (0%) to completely ethical (100%).</p>

    <b>Alophonica: </b><b style="color: rgb(0,123,255);" id="demo1"></b>
    {% formfield player.alotax label=None %}

    <b>Bellico: </b><b style="color: rgb(0,123,255);" id="demo2"></b>
    {% formfield player.beltax label=None %}

</div>
{% endif %}

<input type="hidden" name="timer_id" value="" id="timer_id"/>
<input type="hidden" name="check_alotax" value="" id="check_alotax"/>
<input type="hidden" name="check_beltax" value="" id="check_beltax"/>


<div class="container">
    <button id="image_button" style="color: rgb(255,255,255); background-color: rgb(0,123,255);" type="button" class="btn btn-outline-secondary">Hold to view financial information</button>
    <p>   </p>
    <img id="matrix" style="display:none;" align="center" width="75%" src="{% static 'Screenshot_Alophonica_Bellico.png' %}"/>
</div>
<br>
{% next_button %}

{% endblock %}

 {% block scripts %}

<script>
    var timeShown = 0;
        var timeDown;

        function show() {
           document.getElementById('matrix').style="display:inline;";
           timeDown = new Date().getTime();
        }

        function hide() {
           document.getElementById('matrix').style="display:none;";
           if (timeDown) {
               timeShown += (new Date().getTime() - timeDown);
               document.getElementById('timer_id').value = String(timeShown);
           }
           timeDown = null;
        }

       document.getElementById('image_button').addEventListener('mousedown', show);
       document.getElementById('image_button').addEventListener('mouseup', hide);
       document.getElementById('image_button').addEventListener('mouseleave', hide);
</script>

    <script>
        $('input[name=alotax]').on('input', function() {
            document.getElementById("demo1").innerHTML = $(this).val()+'<b style="color: rgb(0,123,255);">%</b>';
            $('#check_alotax').val(1);
        });
    </script>

    <script>
        $('input[name=beltax]').on('input', function() {
            document.getElementById("demo2").innerHTML = $(this).val()+'<b style="color: rgb(0,123,255);">%</b>';
            $('#check_beltax').val(1);
        });
    </script>

{% endblock %}