{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Alophonica and Bellico (Page 2/8)
{% endblock %}

{% block content %}

<div align="center">
    <img width="75%" src="{% static "publictax/image2.jpg" %}"/>
    <br/>
</div>

<div class="instructions">
        <li>
            <b>Alophonica</b> and <b>Bellico</b> have their headquarters in the country <b>Olmeos</b>.
        </li>
        <li>
            However, next to <b>Olmeos</b>, both firms have the same business operations in a country named <b>Hingland</b>.
        </li>
        <li>
            Although <b>Olmeos</b> has a statutory tax rate of <b>24%</b>, <b>Hingland's</b> statutory tax rate is lower.
        </li>
        <li>
            Olmeos allows firms to deduct <b>100%</b> of their Research & Development (R&D) expenses from their profit before taxes as tax credits.
            That is, like all expenses, R&D expenses are first deducted from profit. Because of the tax credits they can be deducted for a second time to lower tax expenses.
        </li>
<!--        <li>-->
<!--            <b>Alophonica</b> and <b>Bellico</b> are similar firms. Yet, they differ in their tax avoidance strategies.-->
<!--        </li>-->
</div>
    <p>
        <b>Please evaluate the following statements.</b>
    </p>
    <p>
        Since both firms are headquartered in <b>Olmeos</b>, they exclusively operate there.
        {% formfield player.Instr2a label=None %}
    </p>
    <p>
        Next to shifting profits to countries with lower tax rates, effective tax payments may also be different from statutory tax rates because firms may use Research and Development (R&D) tax credits.
        {% formfield player.Instr2b label=None %}
    </p>
{% next_button %}

{% endblock %}