{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Alophonica and Bellico
{% endblock %}

{% block content %}
<div class="instructions" style="height: 160px;">
        <li>
            Alophonica and Bellico are two large, multinational telecommunications firms headquartered in the country Olmeos.
        </li>
        <li>
            Both firms have extensive broadband and TV distribution operations in three countries: Olmeos, Hingland, and Beland.
        </li>
        <li>
            Olmeos has a statutory tax rate of <b style="color: rgb(0,123,255);">24%</b>.
        </li>
        <li>
            Next to Olmeos, there are other countries with lower and higher statutory tax rates.
        </li>
        <li>
            Firms receive a <b style="color: rgb(0,123,255);">100%</b> tax deduction on Research & Development (R&D) activities.
        </li>
</div>
    <p>
        <b>Please evaluate the following statements.</b>
    </p>
    <p>
        Both firms are headquartered in Olmeos and exclusively operate there.
        {% formfield player.Instr2a label=None %}
    </p>
    <p>
        Next to business tax credits on R&D, effective tax payments may also be different because they have operations in multiple countries.
        {% formfield player.Instr2b label=None %}
    </p>
{% next_button %}

{% endblock %}