{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (Page 3/12)
{% endblock %}

{% block content %}

<div align="center">
    <img width="100%" src="{% static "publictax/gif_b.gif" %}"/>
</div>

<div class="card card-body bg-light instructions">
    <ul>
        <li>
            Although the tax rate in Country A is 24%, the tax rate Telecom Co. effectively pays in Country A may be lower because of different reasons.
        </li>
        <li>
            For instance, Telecom Co. can reduce its taxes by using investment tax credits.
        </li>
        <li>
            Investment tax credits are offered by Country A.
        </li>
        <li>
            Investment tax credits reduce the taxes effectively paid by a company by the amount they invest in business operations in Country A.
        </li>
    </ul>
</div>
<br>
    <p>
        <b>Please evaluate the following statements.</b>
    </p>
    <p>
        The more investments Telecom Co. makes for business operations in Country A, the fewer taxes it effectively pays in Country A.
        {% formfield player.Instr3 label=None %}
    </p>

<br>
{% next_button %}

{% endblock %}