{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Before you begin ... (Page 1/12)
{% endblock %}
{% block content %}
<div class="card card-body bg-light instructions">
<!--Please take note of the following information:-->
    <ul>
        <li>
            In this HIT, we ask you to evaluate a company’s tax policy.
        </li>
        <li>
            Please read the instructions carefully and be aware that you cannot go back to previous screens.
        </li>
        <li>
            This study is anonymous, and your data will only be used for research purposes.
        </li>
        <li>
            There is no psychological discomfort, no physical discomfort, nor any deception in this study.
        </li>
        <li>
            Participation is completely voluntary and you can quit at any time.
        </li>
    </ul>
<!--    <p>Do you have any feedback or suggestions? Feel free to put them into the feedback box at the end.<br></p>-->
    By continuing you agree to the abovementioned conditions.

    <p>Thank you,</p>

    <p>The research team</p>
    </div>
<br>

<div class="g-recaptcha" data-sitekey="6LfmYcgUAAAAAGyqUdz4M9_PNBsUOnUDbKmTFRma"></div>

<br>
{% next_button %}
{% endblock %}

{% block scripts %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}