{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Before you begin ...
{% endblock %}

{% block content %}
<div class="instructions" style="height: 280px;">
<!--Please take note of the following information:-->
    <ul>
        <li>
            Please read information carefully and be aware that you cannot go back to previous screens.
        </li>
        <li>
            This study is anonymous and data will only be used for research.
        </li>
        <li>
            There is no psychological discomfort, physical discomfort, deception in this study.
        </li>
        <li>
            Participation is completely voluntary and you can stop at any time.
        </li>
    </ul>

<!--    <p>By accepting this HIT you agree to participate in this study.<br>-->
    <p>Have feedback or suggestions? Feel free to put them into the feedback box at the end.<br></p>

    <p>Thank you,</p>

    <p>Bart Dierynck, Martin Jacob, Maximilian M&#252ller, Christian Peters, and Victor van Pelt<br>
    Tilburg University and WHU - Otto Beisheim School of Management</p>
    </div>


{% formfield player.accept_conditions label="I have read and accept the conditions above." %}
<br>
{% next_button %}
{% endblock %}