{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Judgment
{% endblock %}

{% block content %}
<div class="instructions" style="height: 212px;">

    {% if player.treat == "control" %}
    <p> Alophonica and Bellico are two multinational telecommunications companies headquartered in the country Olmeos.
    Both firms are among the world's largest mobile telecommunications companies with operations in three countries:
    Olmeos, Hingland, and Beland. Alophonica and Bellico have extensive broadband and TV distribution operations in
        three countries. </p>

    <p>Both firms operate in three countries. Olmeos has a statutory tax rate of 24%, Hingland has a statutory tax rate
        of 11%, and Beland has a statutory tax rate of 40%. Firms receive 100% extra deduction on Research & Development
        (R&D) activities. Before tax planning operations started, both firms had an effective tax rate of 15.94% and paid
        corporate taxes amounting to §4,047,000. Below you can find an excerpt of the financial statements of Alophonica
        and Bellico.</p>

    {% else %}
    <p> Alophonica and Bellico are two multinational telecommunications companies headquartered in the country Olmeos.
    Both firms are among the world's largest mobile telecommunications companies with operations in three countries:
    Olmeos, Hingland, and Beland. Alophonica and Bellico have extensive broadband and TV distribution operations in
        three countries. </p>

    <p>Both firms operate in three countries. Olmeos has a statutory tax rate of 24%, Hingland has a statutory tax rate
    of 11%, and Beland has a statutory tax rate of 40%. Firms receive 100% extra deduction on Research & Development
    (R&D) activities. Before tax planning operations started, both firms had an effective tax rate of 15.94% and paid
    corporate taxes amounting to §4,047,000. Below you can find an excerpt of the financial statements of Alophonica
    and Bellico.</p>

    <p>The tax authorities publish the following information about Alophonica and Bellico:</p>

    <table border="1" align="center">
    <thead>
        <tr>
            <td align="center" colspan="2"><h6><b>Alophonica</b></h6></td>
            <td align="center" colspan="2"><h6><b>Bellico</b></h6></td>
        </tr>
    </thead>
        <tr>
            <td><b>Total Income:</b></td>
            <td>85,589,000</td>
            <td><b>Total Income:</b></td>
            <td>85,589,000</td>
        </tr>
        <tr>
            <td><b>Taxable Income:</b></td>
            <td>25,374,000</td>
            <td><b>Taxable Income:</b></td>
            <td>25,374,000</td>
        </tr>
        <tr>
            <td><b>Taxes Paid:</b></td>
            <td>4,047,000</td>
            <td><b>Taxes Paid:</b></td>
            <td>4,047,000</td>
        </tr>
    </table>

    {% endif %}

</div>

<input type="hidden" name="inspectinfo" value="" id="id_inspectinfo"/>
<input type="hidden" name="opinfo_timer" value="0" id="opinfo_timer"/>
<input type="hidden" name="clinfo_timer" value="0" id="clinfo_timer"/>
<input type="hidden" name="info_timer" value="0" id="info_timer"/>
<input type="hidden" name="subda_timer" value="0" id="subda_timer"/>

<div class="container">
  <button style="color: rgb(255,255,255); background-color: rgb(0,123,255);" type="button" class="btn btn-info" data-toggle="collapse" id="buttoni" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">U.S. GAAP Disclosure</button>
  <div id="collapseExample" class="collapse" align="center">
    <img width="125%" src="{% static 'Screenshot_Alophonica_Bellico.png' %}"/>
  </div>
</div>

    <p>
        Suppose you have $10,000 invested in company A. Would you change your investment based on the information you just read?
        Please drag the slider (or use the left and right arrow keys) to make your choice.
    </p>

    {% formfield player.islider label=None %}

    <p></p>

    {% formfield player.iinvest %}

    <p></p>

    {% formfield player.consultother %}

{% next_button %}

{% endblock %}

 {% block scripts %}
    <script>
        $('#buttoni').click(function() {
            $('#id_inspectinfo').val(1);
        });
    </script>

	 <script>
    document.getElementById('buttoni').onclick = function() {
        var subda_timeDown = new Date().getTime();
        document.getElementById('subda_timer').value = String(subda_timeDown);
       };
    </script>

    <script>
    var info_timeShown1 = 0;
        var info_timeDown1;

    $(document).ready(function(){
        $('#collapseExample').on("show.bs.collapse", function(){
            info_timeDown1 = $.now();
            $('#opinfo_timer').val(info_timeDown1);
        });
        $("#collapseExample").on("hide.bs.collapse", function(){
            $('#clinfo_timer').val($.now());
            if (info_timeDown1) {
                info_timeShown1 += $.now() - info_timeDown1;
                $('#info_timer').val(info_timeShown1);
                }
            info_timeDown1 = null;
        });
    });
    </script>

{% endblock %}