{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Alophonica and Bellico
{% endblock %}

{% block content %}

{% if player.judgorder == "A" %}
<div class="instructions" style="height: 750px;">
    <p>
        Suppose you have $10,000 invested in Alophonica. Would you change your investment based on the information you just read?
        Please drag the slider (or use the left and right arrow keys) to make your choice in percentages.
    </p>

    {% formfield player.islider label=None %}

    <p></p>

    {% formfield player.iinvest %}

    <p></p>

    {% formfield player.consultother %}

    <p>
        Suppose you have $10,000 invested in Bellico. Would you change your investment based on the information you just read?
        Please drag the slider (or use the left and right arrow keys) to make your choice in percentages.
    </p>

    {% formfield player.islider2 label=None %}

    <p></p>

    {% formfield player.iinvest2 %}

    <p></p>

    {% formfield player.consultother2 %}
</div>

{% else %}
<div class="instructions" style="height: 750px;">
    <p>
        Suppose you have $10,000 invested in Bellico. Would you change your investment based on the information you just read?
        Please drag the slider (or use the left and right arrow keys) to make your choice in percentages.
    </p>

    {% formfield player.islider2 label=None %}

    <p></p>

    {% formfield player.iinvest2 %}

    <p></p>

    {% formfield player.consultother2 %}

    <p>
        Suppose you have $10,000 invested in Alophonica. Would you change your investment based on the information you just read?
        Please drag the slider (or use the left and right arrow keys) to make your choice in percentages.
    </p>

    {% formfield player.islider label=None %}

    <p></p>

    {% formfield player.iinvest %}

    <p></p>

    {% formfield player.consultother %}
</div>

{% endif %}

{% next_button %}

{% endblock %}

 {% block scripts %}

{% endblock %}