{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    What did you think of this study? (Page 9/9)
{% endblock %}

{% block content %}

    <table class="table">
    {% for field in form %}
        <tr>
            <td>
                {{ field.label }}
            </td>
            <td>
                {{ field }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    <p>We appreciate you participated in this study and would like to thank you very much for your time and effort!</p>

    {% next_button %}

{% endblock %}