{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (Page 4/12)
{% endblock %}

{% block content %}

{% if player.etr == 1 %}
<div align="center">
    <img width="90%" src="{% static "publictax_equalnumbers/gif_c_high.gif" %}"/>
</div>

<div class="card card-body bg-light instructions">
    <ul>
    <li>
        Telecom Co. can also use another way to reduce the taxes it effectively pays in Country A.
    </li>
    <li>
        Specifically, it can shift profits from Country A to another country, which has a tax rate of 5%.
    </li>
    <li>
        Telecom Co. can shift profits by using gaps and mismatches between the tax systems of Country A and the other country.
    </li>
    <li>
        Shifting profits from Country A to another country with a lower tax rate results in a tax difference due to foreign profits.
    </li>
    </ul>
</div>
{% endif %}

<br>
    <p>
        <b>Please evaluate the following statements.</b>
    </p>
    <p>
        {% formfield player.Instr4 %}
    </p>
    <p>
        {% formfield player.Instr5 %}
    </p>

<br>
{% next_button %}

{% endblock %}